.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 8px;
  text-align: center;
  background-color: #282c34;
  color: white;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.logo a h2 {
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  letter-spacing: 8px;
  line-height: 2px;
}
.menu-list a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

@media screen and (max-width: 460px) {
  .main-menu {
    display: flex;
    flex-direction: column;
  }
  .menu-list {
    margin-top: 20px;
  }
}
